::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background-color: #343A40;
}
::-webkit-scrollbar-thumb {
    border: 1px solid #343A40;
    border-radius: 0;
    background-color: #494E53;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00BBFF; 
}

body {
    background-color: #343A40;
    color: #00BBFF;
}

.square-decor {
    position: absolute;
    right: 0;
    top: -35px;
    width: 70px;
    height: 70px;
    background-color: #00BBFF;
    box-shadow: 0 0 15px #373737;
    transition: all 0.4s ease-in-out;
}

.square-decor:hover {
    box-shadow: 0 0 15px #00BBFF;
    transform: rotateZ(-90deg);
}

/* ======= background ======= */
.bg-block {
    background-color: rgba(255,255,255,0.1);
}
.bg-main-color {
    background-color: #00BBFF;
}

/* ======= height ======= */
.h-120px {
    height: 120px;
}
.h-2px {
    height: 2px !important;
}

/* ======= margin ======= */
.my-33px {
    margin-top: 33px;
    margin-bottom: 33px;
}

/* ======= padding ======= */
.py-50px {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ======= FONT ======= */
.font-size-64 {
    font-size: 64px;
    white-space: nowrap;
}
.font-size-36 {
    font-size: 36px;
}
.font-size-22 {
    font-size: 22px;
}

.font-size-48 {
    font-size: 48px;
}

/* ======= MY CONT ======= */
.my-cont {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ========project_block======== */
.project_block {
    position: absolute;
    display: block;
    background-color: #fff;
    border: 1px solid #343A40;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 24px center;
    transition: top 0.5s ease-in-out, left 0.5s ease-in-out, background-position 5s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

.project_block:hover, .project_block:active, .project_block:focus {
    background-position: bottom 110px center;
    border: 1px solid #00BBFF;
    box-shadow: 0 0 15px #00BBFF;
    z-index: 5;
}


/* ============ Standard Elements ============= */
hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid rgba(0, 187, 255, 0.3);
}

a {
    text-decoration: none;
    color: #00BBFF;
}
a:hover {
    text-decoration: none;
    color: #00BBFF;
    text-shadow: 0 0 5px #00BBFF;
}

a.btn {
    text-shadow: none;
}



/* ======= @MEDIA  ======= */
@media (min-width: 576px) {
    .my-cont {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .my-cont {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .my-cont {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .my-cont {
        max-width: 1140px;
    }
}
@media (min-width: 1600px) {
    .my-cont {
        max-width: 1440px;
    }
}

/* ======= MAX-WIDTH ======= */
@media (max-width: 1599px) {
    .my-33px {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }

    .font-size-64 {
        font-size: 60px !important;
    }
    .font-size-36 {
        font-size: 32px !important;
    }
    .font-size-22 {
        font-size: 20px !important;
    }

    .font-size-48 {
        font-size: 42px !important;
    }

    .py-100px {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
}
@media (max-width: 1199px) {
    .my-33px {
        margin-top: 26px !important;
        margin-bottom: 26px !important;
    }

    .font-size-64 {
        font-size: 58px !important;
    }
    .font-size-36 {
        font-size: 30px !important;
    }
    .font-size-22 {
        font-size: 17px !important;
    }

    .font-size-48 {
        font-size: 40px !important;
    }

    .py-100px {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
}
@media (max-width: 991px) {
    .my-33px {
        margin-top: 22px !important;
        margin-bottom: 22px !important;
    }

    .font-size-64 {
        font-size: 52px !important;
    }
    .font-size-36 {
        font-size: 28px !important;
    }
    .font-size-22 {
        font-size: 17px !important;
    }

    .font-size-48 {
        font-size: 36px !important;
    }

    .py-100px {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }

    .h-120px {
        height: 100px !important;
    }
}
@media (max-width: 767px) {
    .my-33px {
        margin-top: 18px !important;
        margin-bottom: 18px !important;
    }

    .font-size-64 {
        font-size: 48px !important;
    }
    .font-size-36 {
        font-size: 26px !important;
    }
    .font-size-22 {
        font-size: 17px !important;
    }

    .font-size-48 {
        font-size: 30px !important;
    }

    .py-100px {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .h-120px {
        height: 80px !important;
    }
}
@media (max-width: 575px) {
    .font-size-64 {
        font-size: 44px !important;
    }
    .font-size-36 {
        font-size: 24px !important;
    }
    .font-size-22 {
        font-size: 17px !important;
    }

    .font-size-48 {
        font-size: 26px !important;
    }

    .py-100px {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .h-120px {
        height: 70px !important;
    }

    .square-decor {
        top: -25px;
        right: 20px;
        width: 50px;
        height: 50px;
    }
}