<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Песни ц.Христа Спасителя</title>

    <link rel="icon" href="favicon.png" type="image/png">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css?v=1">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="axios.min.js"></script>
    <script src="mark.min.js"></script>
    <script src="vue.js"></script>
    
</head>
<body>
    <div id="app">

        <!-- ALPHABET -->
        <div class="card shadow-sm m-2">
            <div class="card-body text-center pl-1 pt-1 pr-1 pb-0">
                <button class="btn btn-sm mb-1" :class="letter==='all' ? 'btn-success' : 'btn-light'" @click="letter='all'">Всё</button>
                <button v-for="item in letters" class="btn btn-sm mb-1 mr-1" :class="letter===item ? 'btn-success' : 'btn-light'" @click="letter=item">{{item}}</button>
            </div>
        </div>

        <!-- SEARCH -->
        <div class="card shadow-sm m-2">
            <div class="form-group m-0">
                <input type="text" class="form-control text-center border-0" placeholder="Поиск" v-model="search">
            </div>
        </div>
        

        <!-- TABLE -->
        <div class="card shadow-sm m-2">
            <table class="table-sm table-striped table-hover table-responsive-sm m-0">
                <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Название</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(item, index) in songs" :key="'song_'+index" v-show="item[0].substring(0,1) === letter || letter === 'all'">
                        <th scope="row">{{index+1}}</th>
                        <td><a class="h_name" :href="item[1]" target="_blank" v-if="item[1] && item[0]"><span class="youtube"></span> <b>{{item[0].substring(0,1)}}</b>{{item[0].substring(1)}}</a></td>
                        <td><a :href="item[2]" target="_blank" v-if="item[2]"><span class="youtube"></span> v2</a></td>
                        <td><a :href="item[3]" target="_blank" v-if="item[3]"><span class="youtube"></span> v3</a></td>
                        <td><a :href="item[4]" target="_blank" v-if="item[4]"><span class="youtube"></span> v4</a></td>
                        <td><button class="btn btn-sm btn-success" v-if="item[5]" @click="popup=true; get_text(index);">Текст</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
            

        <!-- POPUP -->
        <transition name="fade">
            <div class="popup" v-show="popup">
                
                <button class="btn_back btn btn-lg btn-light border-0 rounded-circle" @click="popup=false">&larr;</button>
                <button class="btn_close btn btn-lg btn-light border-0 rounded-circle" @click="popup=false">&cross;</button>

                <br><br><br>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card m-2">
                            <div class="card-header">
                                <b>{{song_title}}</b>
                            </div>
                            <div class="card-body pre-format">
                                <b>{{song_text}}</b>
                            </div>
                        </div>
                    </div>
                </div>

                <br><br><br>

            </div>
        </transition>

    </div>

    <script src="app.js"></script>
</body>
</html>
